/* ============== Google Fonts ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap");

/* ============== Variable CSS =====================*/
:root {
  --primary-color: #00b0f0;
  --second-color: #0070c0;
  --third-color: #002060;
  --fourth-color: #e7e7e7;
  --text-color: #ffffff;
  --text-color2: #3b3838;
  --bg-color: #fafafa;

  /* ======== Font ========= */
  --body-font: "Poppins", sans-serif;

  /* ======== Transition ========= */
  --transition: all 0.3s ease-in;
}

/* ================= Base =================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid red;
  color: red;
  border-radius: 5px;
  margin: 20px 0;
}

/* ======================= Reuseable CSS ======================= */
.container {
  width: 80%;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0 auto;
}

.btn {
  /* padding: 1rem;
  line-height: 1;
  border-radius: 0.5rem;
  display: inline-block;
  font-weight: 600;
  font-size: 1.2rem;
  border: 3px solid var(--primary-color);
  background-color: var(--text-color); */
  position: relative;
  padding: 0.5em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  font-weight: 700;
  text-decoration: none;
}

.bg {
  background-color: var(--bg-color);
  position: relative;
  width: 100%;
  height: 100vh;
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 1280px) {
}
/* -----------------for large devices-------------- */
@media screen and (max-width: 1112.5px) {
}
/*-------------------for medium devices--------------- */
@media screen and (max-width: 896.5px) {
}
/* ---------------------for tablets----------------- */
@media screen and (max-width: 642.5px) {
}
/* ----------------for mobile devices------------------ */
@media screen and (max-width: 400px) {
}
